.section-spacer {
  padding-top: 40px;
  padding-bottom: 40px;
}
body {
  color: #555;
}

.q-block {
  padding: 10px 0;
}

.q-question {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.thanks {
  margin: 100px 0;
  height: 100px;
}

footer {
  background-color: #343a40;
  padding: 50px;
  color: #fff;
}

footer a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}

.references {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.references li {
  padding: 10px;
}

.retrieved {
  padding-left: 25px;
  font-style: italic;
}