.section-spacer {
  padding-top: 40px;  
}
body {
  color: #555;
}

.q-block {
  padding: 10px 0;
}

.q-question {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.thanks {
  margin: 100px 0;
  height: 100px;
}

footer {
  background-color: #777;
}